
.gsParentDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 130px;  /*(2852 - 1952 - 770) */
    /* background-color: blueviolet; */
    /* background: linear-gradient(to right, #12011F, #170129, #220131, #1E0128, #160121 ); */
}

.gsChildDiv{
    width: 1260px;
    height: 430px;
    display: flex;

    justify-content: space-between;
    /*
    padding: 20px 60px;

    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    border-radius: 12px;

    align-items: center;  */
    /* background: linear-gradient(to right, #12011F, #170129, #220131, #1E0128, #160121 ); */
    /* background-color: yellowgreen; */

}


/* Main Div 1 */
.gsLeft{
    width: 533.5px;
    height: 239px;
    gap: 39px;
    
    display: flex;
    flex-direction: column;
    /* background-color: linear-gradient(to right, #12011F, #170129, #220131, #1E0128, #160121 ); */
    /* background-color:cadetblue; */
    
}


.geText{
    height: 150px;
    gap: 8px;
    background-color: linear-gradient(to right, #12011F, #170129, #220131, #1E0128, #160121 );
    /* background-color:brown; */
}

.gsTitle{
    height: 64px;
    padding: 10px 10px 10px 0px;
    gap: 10px;

    font-family: Raleway, sans-serif;
    font-weight: 700;

    font-size: 36px;
    line-height: 44px;
    background-color: linear-gradient(to right, #12011F, #170129, #220131, #1E0128, #160121 );
    /* background-color: black; */

}

.gsSubTitle{
    height: 78px;
    padding: 10px 10px 10px 0px;
    gap: 10px;

    font-family: Roboto, sans-serif;
    font-weight: 400;

    font-size: 18px;
    line-height: 29px;
    color : #B6B6B6;
    background-color: linear-gradient(to right, #12011F, #170129, #220131, #1E0128, #160121 );
    /* background-color: chocolate; */
}



.gsBtn{
    height: 50px;
    padding: 0px 400px 0px 0px;
    gap: 10px;

    /* margin-top: 18px; */
    background: radial-gradient(to right, #12011F, #150121, #140121, #130122, #11011F);
    /* background-color: yellow; */
    align-items: end;
    
}

.gsBtn>button{
    width: 190px;
    height: 50px;
    padding: 13px 24px 13px 24px;
    border-radius: 10px;
    border: none;
    gap: 10px;
    background-color: var(--primary-color);

    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:#FFFFFF;
}



/* Main Div 2 Categories */
.gsRight{

    width: 533.5px;
    height:430px;
    gap:23px;
    
    background-color: linear-gradient(to right, #12011F, #170129, #220131, #1E0128, #160121 );
    /* background-color: aqua; */

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.gsCatBox{
    width: 533.5px;
    height: 128px;
    padding: 10px 52px 20px 20px;
    border-radius: 18px;
    
    gap: 21px;
    border: 1px solid;
    border-color: #FFFFFF0D;

    display: flex;
    align-items: center;

    border: 1px solid;
    border-color: #FFFFFF0D; 
    background: linear-gradient(to right,  #1D0E29, #1C062E, #1C062E);

    /* background-color: var(--secondary-color); */
}

.gsImg{
    width: 80px;
    height: 80px;
}

.gsCatText{
    width: 338px;
    height: 98px;
    /* background-color: black; */

    display: flex;
    flex-direction: column;
    background-color: linear-gradient(to right, #12011F, #170129, #220131, #1E0128, #160121 );
}

.gsCatText > :first-child{
    width: 338px;
    height: 50px;
    padding: 10px;
    gap: 10px;

    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color:#ECF1F0;
    /* background-color: brown; */
    background-color: linear-gradient(to right, #12011F, #170129, #220131, #1E0128, #160121 );

}

.gsCatText > :nth-child(2){
    width: 338px;
    height: 48px;
    padding: 0px 10px;

    gap: 12px;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #B6B6B6;
    margin-top: -14px;


    background-color: linear-gradient(to right, #12011F, #170129, #220131, #1E0128, #160121 );
    /* background-color: blue; */
}