.muParentDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 167px; /*  1952 - 1643- 142 = 167 */
    /* background-color: var(--dark-color); */
}

.muChildDiv{
    width: 1260px;

    height: 770px; 
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* 1 */

.muHeader{

    height: 44px;
    gap: 10px;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

}
.muHeader>p{
    color: var(--white-font);
}


/* /*  2 Category Div  /* /* */


.muCategoryDiv{
    height: 95px;
    gap: 22px;

    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.muCatTitle{
    height: 29px;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color : var(--grey-font)
}

.muCatTitle> p{
    color : var(--grey-font)
}

.muCatSubDiv{
    height: 44px;

    display: flex;
    justify-content: space-between;
    /* background-color: var(--dark-color);  */
}


.muCatSubLeft{
    width: 701px;
    display: flex;
    justify-content: space-between;
    
}

.muCatSubLeft > p {
    height: 44px;
    gap: 10px;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 12px;

    border-radius: 6px;
    
    border: 1px solid;
    border-color: #FFFFFF0D; /* Fixed -> No Change*/
    background-color: #1D0E29; /* Fixed -> No Change*/
    font-family: Roboto, sans-serif;
    font-weight: 400;

    color: var(--grey-font);
    
}

/* Different CSS from other 6  options */
.muCatSubLeft > :first-child{

    font-weight: 500;
    
    color: #211631;
    background-color: #EAEAEA;;
    border-color: #EAEAEA;
}


.muCatSubRight{
    width: 282px;
    padding: 10px;
    border-radius: 6px;
    gap: 10px;

    border: 1px solid;
    border-color: #FFFFFF1A; /* Fixed -> No Change*/
    background-color: #160C24; /* Fixed -> No Change*/
}

.searchDiv{
    width: 126px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

.searchDiv> p{
    
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color : var(--grey-font)
}


/* /*  3 Table Div /* /*  */


.muTableDiv{
    height: 499px;

}

.tHeadDiv{
    height: 62.38px;
    display: flex;
    justify-content: space-between;
    padding: 16px 40px 16px 40px;

    border: 1px solid #FFFFFF0D;
    border-color: #FFFFFF1A; /* Fixed -> No Change*/
    background-color: #160622; /* Fixed -> No Change*/
    border-radius: 4px 4px 0px 0px;

}

.tHeadLeft{
    width: 129px;
    height: 19px;

    display: flex;
    justify-content: space-between;

}

.tHeadLeft >p{
    color: var(--grey-font);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    color: var(--grey-font);
    
}

.tHeadRight{
    width: 627px;
    height: 19px;

    display: flex;
    justify-content: space-between;
}

.tHeadRight >p{
    color: var(--grey-font);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    color: var(--grey-font);
}


/* Table Body CSS */

.tBodyDiv{

    height: 62.38px;
    display: flex;
    justify-content: space-between;

    padding: 16px 40px 16px 40px;

    align-items: center;

    border: 1px solid #FFFFFF0D;
    border-color: #FFFFFF1A; /* Fixed -> No Change*/
    background-color: #160622; /* Fixed -> No Change*/
    border-radius: 10px, 10px, 10px, 30px;
}


.tBodyLeft{
    width :483px;
    height : 44px;
    display: flex;
    /* background-color: aquamarine; */
    align-items: center;
}

.tBodyNo{
    width: 74px;
    height: 32px;
    padding: 4px 12px 4px 0px;
    gap: 10px;
    /* background-color: brown; */

}

.tBodyNo >p{
    font-family: Roboto, sans-serif;
    font-weight: 400;

    font-size: 16px;
    line-height: 24px;
    color: var(--grey-font);
}


.vl {
    border-left: 1px solid var(--grey-font);
    height: 24px;
    border-radius: 2px;
}
    
    
.tBodyName{

}


.tBodyCoinsDiv{
    width: 409px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: darkred; */

    
}

.tBodyCoinsData{
    width: 343px;

    display: flex;
    /* background-color: cadetblue; */
    align-items: center;

}

.tBodyCoinsData > div:first-child,
.tBodyCoinsData > div:nth-child(3)
{
    padding: 4px 10px 4px 0px;
    gap: 10px;

    font-family: Roboto, sans-serif;
    font-weight: 400;

    font-size: 16px;
    line-height: 24px;
    color: var(--grey-font);

}


.tBodyRight{
    width : 686px;
    height : 40px;

    display: flex;
    align-items: center;
    /* background-color: burlywood; */
    padding: 0px 0px 0px 60px;
    justify-content: space-between;
    align-items: center;
}

.tBodyRight > p:first-child{
    width : 6vw;
    /* margin: 4px 10px 4px 60px; */

    font-family: Roboto, sans-serif;
    font-weight: 400;

    font-size: 16px;
    line-height: 24px;
    color: var(--grey-font);
    /* background-color: darkblue; */
    margin-top: 0;
    margin-bottom: 0;
}

.tBodyRight > p:nth-child(2){
    /* margin: 4px 0px 4px 0px; */

    font-family: Roboto, sans-serif;
    font-weight: 400;
    width: 4vw;

    font-size: 16px;
    line-height: 24px;
    color: var(--grey-font);
    /* background-color: blue; */
    margin-top: 0;
    margin-bottom: 0;
}

.tBodyRight > img{
    /* margin: 4px 60px 4px 120px; */
    /* background-color: chartreuse; */
}

.tBodyRight > button{
    /* margin: 4px 0px 4px 75px; */
    

    background-color: var(--primary-color);
    color: #FFFFFF;

    border: none;
    cursor: pointer;
    width: 92px;
    height: 32px;
    padding: 4px 24px 4px 24px;
    border-radius: 10px;
    font-family:'Raleway', sans-serif, Arial;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}


/*  4 */


.muLink{
    height:39px;
    padding: 10px 10px 10px 0px;
    gap: 10px;

    font-family: Raleway, sans-serif;
    font-weight: 600;

    font-size: 16px;
    line-height: 18.78px;
    text-decoration: underline;
}

a{
    color: var(--primary-color);
}


a:hover{
    color:#ECF1F0;
}


/*  Tablet media */
@media screen and (min-width: 427px) and (max-width: 768px){
    .muParentDiv{
        margin-top: 80px; 
        /* background-color: violet; */
    }
    
    .muChildDiv{
        width: 88%;
        height: 120vh;   /*To adjust */  

        /* background-color: blueviolet; */
    }

    .muHeader{
        font-size: 30px;
        height: 5%;
        /* background-color: black ; */
    
    }

    /* /*  2 Category Div  /* /* */

    .muCategoryDiv{
        height: 20%;
        /* background-color: darkolivegreen; */
    }
        
    .muCatSubDiv{
        height: 60vh;

        /* display: flex; */
        flex-direction: column;
        /* background-color: lightseagreen;  */
    }


    .muCatSubLeft{
        width: 100%;
        /* background-color: red; */
        
    }

    
    /* /*  3 Table Div /* /*  */

    .muTableDiv{
        width: 100%;
        /* background-color: brown; */
        height: 60%;
    }

    .tHeadDiv{
        width: 100%;
        height: 8vh;
        display: flex;
        justify-content: space-between;
        padding: 12px 12px;
        /* background-color: deeppink; */
    
    }

    .tHeadLeft{
        width: 30vw;
        /* background-color: cadetblue; */
        justify-content: normal;
    }
    
    .tHeadLeft >p{
        font-size: 0.8rem;
        width: 30%;
    }

    .tHeadRight{
        width: 70vw;
        /* background-color: darkmagenta; */
        
        padding: 0px 12px 0px 30px;

    
    }

    .tHeadRight >p{
        font-size: 0.9rem;
    }

    /* Table Body CSS */

    .tBodyDiv{

        height: 62.38px;
        display: flex;
        justify-content: space-between;
    
        padding: 12px 12px ;  /* same as of theadDiv */
    
        align-items: center;
        /* background-color: darkgreen; */
    
    }

    .tBodyLeft{
        width :25%;
        height : 40px;
        /* background-color: dodgerblue; */
    }

    .tBodyNo{
        width: 25%;
        /* background-color: darkorange; */
    
    }
    .tBodyName {
        width: 60%;
        /* background-color: indigo; */
    }

    .tBodyCoinsDiv{
        width: 30%;
    }

    .tBodyRight{
        width : 100%;
        height : 40px;
        /* background-color: dimgray; */

    }

    .tBodyRight > p:first-child{
        width: 10.5vw;
        font-size: 0.8rem;
    }

    .tBodyRight > p:nth-child(2){
        width: 9.5vw;
        font-size: 0.8rem;
    }


    .tBodyCoinsDiv >img {
        height : 38px;
        
    }

    .tBodyCoinsData > div:first-child, .vl{
        display: none;
    }
    
    .tBodyCoinsData > div:nth-child(3) {
        font-size: 0.8rem;  

    }
    
    .tBodyRight > button{
        width: 80px;
        font-size : 0.8rem;
    }

    .muLink {
        height: 5%;
        font-size: 0.9rem;
        /* background-color: yellow; */
    }


}


/* Mobile Media */

@media screen and (max-width: 426px){
    .muParentDiv{
        margin-top: 80px; 
        /* background-color: violet; */
    }
    
    .muChildDiv{
        width: 88%;
        height: 140vh;   /*To adjust */  

        /* background-color: blueviolet; */
    }

    .muHeader{
        font-size: 30px;
        height: 5%;
        /* background-color: black ; */
    
    }

    /* /*  2 Category Div  /* /* */

    .muCategoryDiv{
        height: 27%;
        /* background-color: darkolivegreen; */
    }
        
    .muCatSubDiv{
        height: 80vh;
        width: 100%;

        /* display: flex; */
        flex-direction: column;
        /* background-color: lightseagreen;  */
    }


    .muCatSubLeft{
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 45px 45px 45px; 
        gap: 5px; 
        /* background-color: red; */
        
    }

    .muCatSubLeft > p {
        padding: 10px 5px 12px 5px;
        
        width: 100%;
        font-size: 0.9rem;
        height: 40px;
        text-align: center;
    }
    
    .muCatSubRight{
        width: 220px;
    } 

    
    /* /*  3 Table Div /* /*  */

    .muTableDiv{
        width: 100%;
        /* background-color: brown; */
        height: 50%;
    }

    .tHeadDiv{
        width: 100%;
        height: 9vh;
        display: flex;
        justify-content: space-between;
        padding: 12px 12px;
        /* background-color: deeppink; */
    
    }

    .tHeadLeft{
        width: 30vw;
        /* background-color: cadetblue; */
        justify-content: normal;
    }
    
    .tHeadLeft >p{
        font-size: 0.8rem;
        width: 30%;
    }

    .tHeadRight{
        width: 80vw;
        /* background-color: darkmagenta; */
        
        padding: 0px 10px;

    
    }

    .tHeadRight >p{
        font-size: 0.7rem;
    }

    .tHeadRight >p:nth-child(2){
        margin: 0px 15px 0px 0px;
    }

    /* Table Body CSS */

    .tBodyDiv{

        height: 62.38px;
        display: flex;
        justify-content: space-between;
    
        padding: 12px 12px ;  /* same as of theadDiv */
    
        align-items: center;
        /* background-color: darkgreen; */
    /*  */
    }

    .tBodyLeft{
        width :25%;
        height : 40px;
        /* background-color: dodgerblue; */
    }

    .tBodyNo{
        width: 15%;
        /* background-color: darkorange; */
    
    }
    .tBodyNo >p{
        font-size: 0.7rem;
    }

    .tBodyName {
        width: 60%;
        /* background-color: indigo; */
    }

    .tBodyCoinsDiv{
        width: 30%;
    }

    .tBodyRight{
        width : 100%;
        height : 40px;
        /* background-color: dimgray; */
        padding: 0px 0px 0px 5px;

    }

    .tBodyRight > p:first-child{
        width: 10.5vw;
        font-size: 0.7rem;
    }

    .tBodyRight > p:nth-child(2){
        width: 9.5vw;
        font-size: 0.7rem;
    }

    .tBodyRight > img {
        width: 50px;
    }

    .tBodyCoinsDiv >img {
        height : 30px;
        
    }

    .tBodyCoinsData > div:first-child, .vl{
        display: none;
    }
    
    .tBodyCoinsData > div:nth-child(3) {
        font-size: 0.7rem;  

    }
    
    .tBodyRight > button{
        width: 60px;
        font-size : 0.7rem;
        padding: 0px;
        border-radius: 5px;
    }

    .muLink {
        height: 4%;
        font-size: 0.9rem;
        /* background-color: yellow; */
    }


}