
.leParentDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 127px;  /*(1643 - 989 - 527= 127) */
    /* background-color: blueviolet; */
}

.leChildDiv{
    width: 1260px;
    height: 142px;
    /* background-color:aqua; */
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    border-radius: 12px;

    border: 2px solid;
    border-color: #FFFFFF0D;    

    align-items: center; /*To align vertically*/

}

.leContent{
    width: 536px;
    height: 102px;
    margin: 12px;
    
    /* background-color: cornflowerblue; */

}

.leTitle{

    font-family: Raleway, sans-serif;
    font-weight: 600;

    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}

.leSubTitle{
    font-family: Roboto, sans-serif;
    font-weight: 400;

    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color : #B6B6B6;

}

.leBtn{
    width: 207px;
    height: 56px;
    padding: 16px 24px ;
    gap: 10px;
    background-color: var(--primary-color);

    border-radius: 10px;
    border: none;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color:#FFFFFF;
}


/*  Tablet media */
@media screen and (min-width: 427px) and (max-width: 768px){
    .leParentDiv{
        margin-top: 70px;  
        /* background-color: blueviolet; */
    }

    .leChildDiv{
        width: 88%;
        height: 30vh;
        padding: 20px;
        border-radius: 10px;
        /* background-color: rgb(78, 78, 198); */
    
    }

    .leContent{
        width: 70%;
        height: 102px;
        margin: 0px;
        
        /* background-color: cornflowerblue; */
    
    }
    
    .leTitle{
    
        font-size: 24px;
    
    }
    
    .leSubTitle{
        
        font-size: 15px;
        line-height: 20px;
    }
    
    .leBtn{
        width: 28%;
        height: 56px;
    
        border-radius: 8px;
        font-size: 0.8rem;
    }
}



/* Mobile Media */

@media screen and (max-width: 426px){
    .leParentDiv{
        margin-top: 70px;
        /* background-color: blueviolet; */
    }

    .leChildDiv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 88%;
        height: 40vh;
        padding: 20px;
        border-radius: 10px;
        /* background-color: rgb(78, 78, 198); */
    
    }

    .leContent{
        width: 95%;
        height: 20vh;
        margin: 0px;
        
    
    }
    
    .leTitle{
        text-align: center;
        height: 10vh;
        font-size: 24px;
        /* background-color: cornflowerblue; */
    
    }
    
    .leSubTitle{
        font-size: 14px;
        height: 10vh;
        line-height: 20px;
        text-align: justify;
        /* background-color: chartreuse; */
    }
    
    .leBtn{
        width: 70%;
        height: 8vh;
    
        border-radius: 8px;
        font-size: 0.8rem;
        padding: 14px 15px;
    }
    
}