
.navParentDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: 228px;  given to hr tag in App.js */

    position: fixed;
    height: 90px;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 9999;

    background: linear-gradient(to right, #12011F, #170129, #220131, #1E0128, #160121 );

    border-bottom: 2px solid;
    border-color: #FFFFFF0D;
}

.navChildDiv{
    height: 90px;
    width: 1260px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: blue; */
    align-items: center;
}


.navLeftLogo{
    height: 30px;
    width: 205px;

    gap: 10px;
    
    /* background-color: darkcyan; */
    cursor: pointer;

}

.navLeftLogo >p{
    /* padding: 8px 0px; */

    height: 30px;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0em;
    text-align: left;
    color: #ECF1F0;
}

.navItemsDiv{
    width: 448px;
    height: 39px;

    display: flex;
    justify-content: space-between;
    /* background-color: green; */
    align-items: center;
}

.navItem{
    font-family: Raleway, sans-serif;
    font-weight: 500;

    padding: 10px;
    font-size: 16px;
    line-height: 18.7px;
    cursor: pointer;
}


/*
.navItem:hover{
    color: var(--primary-color);
}
*/


.navRightSec{
    width: 205px;
    height: 50px;

    /* background-color: brown; */

    display: flex;
    justify-content: space-between;
    gap: 10px;
    width:205px;
    height:50px;
}

.langSection{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width:80px;
}

.langSection >img{
    width : 24px;
    height: 24px;
}

.langSelect{
    width: 46px;
    height: 24px;

    font-family:'Raleway', sans-serif, Arial;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    background-color: #1C0126;
    border: none;
    color:#B6B6B6;
    text-decoration: none;
}

.langSelect > option{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color:#B6B6B6;
    border: none;
    outline: 0px;

}

.loginBtn{
    background-color: #0FAE96;
    color: #ECF1F0;

    border: none;
    cursor: pointer;
    width: 104px;
    height: 50px;
    padding: 13px 24px 13px 24px;
    border-radius: 10px;
    font-family:'Raleway', sans-serif, Arial;
    font-weight: 600;

    font-size: 16px;
}

.mobileNav{
    display: none;
}

@media screen  and (max-width: 426px){

    .navChildDiv{
        display: none;
    }

    /* ChildDiv */
    .mobileNav{
        height: 100%;
        width: 88%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* background-color: blue; */
        align-items: center;
    }

    
    .mobLogo >p{
        font-size: 2rem;
        font-weight: 700;
        line-height: 28.8px;
        letter-spacing: 0em;
        /* background-color: rgb(89, 28, 145); */
        margin: 0;
    }

}


@media screen  and (min-width: 427px) and (max-width: 768px){

    .navChildDiv{
        display: none;
    }

    /* ChildDiv */
    .mobileNav{
        height: 100%;
        width: 88%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* background-color: rgb(78, 78, 198); */
        align-items: center;
    }

    
    .mobLogo >p{
        font-size: 2rem;
        font-weight: 700;
        line-height: 28.8px;
        letter-spacing: 0em;
        /* background-color: rgb(89, 28, 145); */
        margin: 0;
    }

    .bi bi-list{
        height: 100%;
        width: 88%;
    }

}