.lcParentDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 190px;  /*(3472-2852 -430 = 190) */
    /* background-color: blueviolet; */
}

.lcChildDiv{
    width: 1260px; /* OG 1262 */
    height: 1079px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: blue; */
}

.lcTopDiv{
    text-align: center;
    height: 115px;
    /* background-color: brown; */
}

.lcTopDiv > :first-child{
    font-family: Raleway, sans-serif;
    font-weight: 700;

    font-size: 36px;
    line-height: 44px;
    color: #ECF1F0;
    padding: 10px;
    height:64px;
}

.lcTopDiv > :nth-child(2){
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #B6B6B6;

    font-size: 18px;
    line-height: 28.8px;
    letter-spacing: 0em;
    height:41px; 
    padding: 6px;
    /* background-color: yellow; */
}


/* Mid Div CSS */


.lcMidDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 825px;
    /* background-color: gold; */
}


/* Mid Container 1st Div */
.lcMidFirstDiv{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;

    height: 391px;
    /* background-color: aqua; */
}

/* Big image Div */
.midFirstDivLeft{
    
    width :618px;
    height: 391px;
    gap: 10px;
    background-color: #260144BF; /* Necessary*/
    padding: 220px 44px 31px 30px;
    border-radius: 18px;
    background-image: url("../../images/LearnCrypto/img-1.jpg");
    background-size: cover;
    opacity: 0.5;


}
.midFirstDivLeftHead{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.midFirstDivLeftHead > :first-child{
    font-family: Raleway, sans-serif;
    font-weight: bold;

    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;

    padding: 10px;
    height: 88px;

}

.midFirstDivLeftHead > :nth-child(2){
    width: 113px;
    height: 30px;
    padding: 4px 8px;
    border-radius: 4px;
    margin-left: 10px;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    
    color:#B6B6B6;
    background-color: #270B3E;
    vertical-align: middle;
}

.midFirstDivRight{
    width :618px;
    height: 391px;
    gap :26px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    height: 391px;
    /* background-color: green; */
}




/* Mid Container 2nd Div */
.lcMidSecondDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    height: 391px;
    /* background-color: violet; */
}

.articleBox{
    width: 296px;
    height: 391px;
    padding: 0px 0px 16px 0px;

    border: 1px solid;
    border-color: #FFFFFF0D; 
    border-radius: 18px;
    
    gap: 10px;
    background-color: #160622;
}


.articleBox>img{
    width: 296px;
    height: 195px;
    border-radius : 18px 18px 0px 0px;
}

.articleContent{
    height: 180px;
    padding: 20px;
    /* background-color: chocolate; */
}


.articleContDiv{
    height: 140px;
    /* background-color: black; */

    display: flex;
    flex-direction: column;
}

/* Grey box CSS */
.articleContDiv > :first-child{
    width: 95px;
    height: 22px;
    padding: 0px 6px;
    border-radius: 4px;

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    
    color:#B6B6B6;
    background-color: #261832;
    vertical-align: middle;
}

.articleContDiv > :nth-child(2){
    height: 48px;
    font-family: Raleway, sans-serif;
    font-weight: 600;

    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
}

.articleContDiv > :nth-child(3){
    height: 44px;
    font-family: Roboto, sans-serif;
    font-weight: 400;

    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #B6B6B6;
}



/* Bottom Div CSS */

.lcBottomDiv{
    height: 19px;
    font-family: Raleway, sans-serif;
    font-weight: 600;

    font-size: 16px;
    line-height: 18.78px;
    color: var(--primary-color);
    text-decoration: underline;
    /* background-color: aqua; */
}


a:hover{
    color:#ECF1F0;
}


/*  Tablet media */

@media screen and (min-width: 427px) and (max-width: 768px){

    .lcParentDiv{
        margin-top: 120px;
        /* background-color: blueviolet; */
    }

    .lcChildDiv{
        width: 88%;
        height: 280vh; 
        /* background-color: blue; */
    }

    .lcTopDiv{
        height: 17vh;
    } 


    .lcMidDiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 257vh;
        /* background-color: gold; */
        width: 100%;
    }

    .lcMidFirstDiv{
        width: 100%;

        display: flex;
        flex-direction: column;

        /* display: grid;
        grid-template-rows: 1fr 1fr; 
        grid-template-columns: 1fr 1fr;  */
        /* background-color: skyblue; */
        height: 125vh;
        
        
        /* justify-content: center;
        align-items: center;
        text-align: center; */
        
    }

    .midFirstDivLeft{
        grid-column: 1 / 3;
        width: 100%;
        margin: auto;
        height: 55vh;
        
    }

    .midFirstDivRight{
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
        /* padding: 0px 20px; */
        /* background-color: darkmagenta; */
        grid-column: 2 / 2;
    }

    .articleBox{
        width: 47%;
    }

    .articleBox>img{
        width: 100%;
    }


    .lcMidSecondDiv{
        /* background-color: lightcoral; */
        height: 127vh;
    }


}


/* Mobile Media */

@media screen and (max-width: 426px){

    .lcParentDiv{
        margin-top: 120px;
        /* background-color: blueviolet; */
    }

    .lcChildDiv{
        width: 88%;
        height: 260vh; 
        /* background-color: blue; */
    }

    .lcTopDiv{
        height: 22vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } 

    .lcTopDiv > :first-child {
        font-size: 2rem;
        line-height: 2rem; 
    }

    .lcTopDiv > :nth-child(2) {
        font-size: 1rem;
        line-height: 1.2rem; 
        height: 2.5rem;
    }

    .lcMidDiv{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 230vh;
        /* background-color: gold; */
        width: 100%;
    }

    .lcMidFirstDiv{
        width: 100%;

        display: flex;
        flex-direction: column;
        /* background-color: skyblue; */
        height: 115vh;

    }

    .midFirstDivLeft{
        grid-column: 1 / 3;
        width: 100%;
        margin: auto;
        height: 55vh;
        
    }

    .midFirstDivLeftHead > :first-child {
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 0px;
        height: 4rem;
    }

    .midFirstDivLeftHead > :nth-child(2) {
        width: 7rem;
        height: 1.7rem;
        padding: 4px 8px;
        margin-left: 0;
        font-size: 0.8rem;
        line-height: 22px;
    }

    .midFirstDivRight{
        width: 100%;
        height: 50vh;
        flex-wrap: nowrap;
        justify-content: space-between;
        /* padding: 0px 20px; */
        /* background-color: darkmagenta; */
        grid-column: 2 / 2;
        gap: 0px;
    }

    .articleBox{
        width: 48%;
        height: 50vh;
    }

    .articleBox>img{
        width: 100%;
        height: 20vh;
    }

    .articleContent{
        padding: 5px;;
    }
    
    .articleContDiv > :first-child{
        width: 75%;
        height: 100%;
        padding: 0px 4px;
        border-radius: 4px;
    
        font-size: 0.7rem;
        line-height: 1rem;
    }
    
    .articleContDiv > :nth-child(2){
        height: 100%;
    
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
    
    .articleContDiv > :nth-child(3){
        height: 100%;
    
        font-size: 0.7rem;
        line-height: 1.1rem;
    }


    .lcMidSecondDiv{
        /* background-color: lightcoral; */
        height: 110vh;
    }

    .lcBottomDiv {
        height: 1.2rem;
        font-size: 0.9rem;
        line-height: 18.78px;
    }
}

